{{!-- change table to have all necessary tables --}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="login-panel panel-info">
                <div class="body">
                    <div class="row">
                        <div class="col-md-9 col-lg-9">
                            <table class="table user-info">
                                <tbody>
                                    <tr>
                                        <th></th>
                                        <th>{{firstName}} {{lastName}}</th>
                                    </tr>
                                    <tr>
                                        <td>ID:</td>
                                        <td>{{_id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Username:</td>
                                        <td>{{username}}</td>
                                    </tr>
                                    <tr>
                                        <td>Profession:</td>
                                        <td>{{profession}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bio:</td>
                                        <td>{{bio}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>